.list {
  & li {
    position: relative;

    padding-left: 18px;
    margin-bottom: 12px;
  }

  & li::before {
    top: -5px;
    left: 0;
    position: absolute;

    content: url('/assets/icons/li-before.svg');
  }
}
